<!DOCTYPE html>
<html>

<head>
	<title>About Us Section</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="css/style7.css">
</head>

<body>
	{{>navbar}}
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h3>Abhishek kirar</h3>
				</div>
				<div class="content">
					<h3>Electrical & Electronics | Software Engineer</h3>
					<p>currently I am Mern Stact Developer</p>
					<p>What is the MERN stack?
						 <p> MERN stands for MongoDB, Express, React, Node, after the four key technologies that make up the stack.</p>
					</p>
					MongoDB — document database <br>
						Express(.js) — Node.js web framework <br>
						React(.js) — a client-side JavaScript framework <br>
						Node(.js) — the premier JavaScript web server</p>
					<div class="button">
						<a href="">Read More</a>
					</div>
				</div>
				<div class="social">
					<a href=""><i class="fab fa-facebook-f"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
				</div>
			</div>
			<div class="image-section">
				<img
					src="https://thumbs.dreamstime.com/b/software-engineer-portrait-smiling-young-vietnamese-69422682.jpg">
			</div>
		</div>
	</div>


</body>

</html>