<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>How to spend your money to make you happier</h2>
    <p>If you are lucky enough to have any money to spare, whether it’s a little or a lot, you have choices about how to spend it. Psychological research shows that those decisions can have an impact on your well-being. So if you were to let the evidence guide your spending, what should you do?</p>
    <h4>1. Buy experiences rather than material goods</h4>
    <p>You might think that the problem with spending on experiences is that they are over in an afternoon, whereas a shiny new pair of shoes can last you years. However, when researchers from the University of Texas instructed people to spend a number of dollars a week either on experiences or on material goods, the first group felt happier afterwards.</p>
    <p>The reason is that the shoes remain the same (apart from becoming less shiny), so we stop noticing them, but experiences bring more variety. They also bring us extra pleasure in a form of anticipation long before they actually take place. Psychologists from Cornell University found that people didn’t get joy from the anticipation of material purchases in the same way they did from experiences. And of course, a day out leaves you with happy memories too.</p>
    <img src="https://ichef.bbci.co.uk/images/ic/640xn/p03zclkn.jpg" alt="">
    <h4>2. But it’s OK to buy things if they can lead to pleasurable experiences</h4>
    <p>When the US psychologist Elizabeth Dunn asked her students to predict whether people would get more joy from receiving a free gift of money to spend on themselves or to spend on someone else, they said people would prefer to spend it on themselves. Who doesn’t like getting a present after all? But when she tried it out for real on the streets of Vancouver, stopping passers-by and giving them an envelope containing $20 in cash, those who were instructed to spend it on someone else or give it to charity felt happier at the end of the day than the people who told to buy gifts for themselves.

Elizabeth Dunn also found that, regardless of income, people who spend the highest proportion of their salary on other people are, on average, happier.</p>
<img src="https://ichef.bbci.co.uk/images/ic/640xn/p055t3pk.jpg" alt="">

</body>
</html>